#submit,#reset {
    background-color: #555555; /* Green */
    border-radius: 6px;
    color: white;
    padding: 5px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    margin: 4px 2px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
}

#submit:hover  {
    background-color: #c6beb3; /* Green */
    color: black;
}

#reset:hover  {
    background-color: mediumseagreen; /* Green */
    color: black;
}

.table, td, tr {
    border: 1px solid black;
}

table {
    border-collapse: collapse;
}

h2 {
    border-bottom: 6px solid mediumseagreen;
    background-color: #c6beb3;
    /*border-top-right-radius: 16px;
    border-top-left-radius: 4px;*/
    border-bottom-left-radius: 16px;
    border-bottom-right-radius: 16px;
    color: black;
}

#padding {
    height: 100px;
    width: 100%;
    background-color: mediumseagreen;
    border-top-right-radius: 16px;
    border-bottom-left-radius: 16px;
}
.bottomright {
    text-align: center;
    bottom: 10px;
    right: 16px;
    font-size: 14px;
}

form{
/*    border-bottom: 16px solid mediumseagreen; */
    border-radius: 5px;
}

input{
    width: 40%;
}

#tooltp{
    color: grey;
}

a {
    text-decoration: none;
}


* {
  margin: 0;
  padding: 0;
}
html,
body {
  height: 100%;
  background-color: #baccc6;
}
.wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
}
.content {
  flex: 1 0 auto;
}
.footer {
  flex: 0 0 auto;
  height: 100px;
  background-color: mediumseagreen;
  text-align: bottom;
  border-top-right-radius: 16px;
  border-top-left-radius: 16px;
}

/*	<link href="cw_main.css" rel="stylesheet">*/
